.card-container {
  min-width: 260px;
  width: 90%;
  max-width: 350px;
  height: 320px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--secondary);

  h4 {
    margin: 1rem 0 2rem;
    width: fit-content;
  }
}

.card-img-container {
  display: flex;
  justify-content: center;
  min-width: 260px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 2rem;

  img {
    width: 90%;
    height: auto;
  }
}

.card-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.card-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  svg {
    margin: 0 0.5rem;
    color: var(--secondary);
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      transform: scale(1.1);
      transition: var(--transition);
    }
  }
}
