@import "../components/Navbar/Navbar.scss";
@import "../components/Footer/Footer.scss";
@import "../components/Button/Button.scss";
@import "../components/InfoCard/InfoCard.scss";
@import "../components/Modal/Modal.scss";
@import "../components/ProjectCard/ProjectCard.scss";

.sidebar {
  position: fixed;
  z-index: 2;
  top: 67px;
  right: 0;
  width: 220px;
  height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-left: 1px solid var(--lightGray);
  background: rgba(254, 254, 254);
  transition: all 0.4s ease-in-out;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.skills-section-title {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  text-align: center;

  h2 {
    margin: 0;
    color: var(--secondary);
  }
}

.categories-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 250px;
  max-width: 600px;
  margin-bottom: 2rem;
}

.category {
  width: fit-content;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
  }
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-card {
  width: 80px;
  height: 80px;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin: 0.6rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;

  h5 {
    margin: 1rem;
    color: var(--white);
  }

  p {
    color: var(--white);
    font-size: smaller;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: var(--secondary);
    margin: 1rem;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: var(--white);
      transition: var(--transition);
    }
  }
}
